[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
	branch = main
[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "quickstart-linux-bastion"]
	path = quickstart-linux-bastion
	url = https://github.com/aws-quickstart/quickstart-linux-bastion.git
	branch = main
[submodule "quickstart-amazon-aurora-postgresql"]
	path = quickstart-amazon-aurora-postgresql
	url = https://github.com/aws-quickstart/quickstart-amazon-aurora-postgresql.git
	branch = main
